extends layout

block content
  div.header
    h1= title

  div.tray
    if errors && errors.length
      ul
        each error in errors
          li.error= error.msg

    form(action=`/inventory/cat/${category._id}/update`, method='POST')
      label(for='name') Name:
      input(type='text', id='name', name='name', value=category.name[0])
      br
      label(for='description') Description:
      textarea(id='description', name='description')= category.description
      br
      button(type='submit') Apply Changes